body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f0ff;
    text-align: center;
}

header {
    background: purple;
    color: white;
    padding: 30px;
}

.card {
    background: white;
    width: 85%;
    max-width: 500px;
    margin: 40px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

button {
    background: teal;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
}

button:hover {
    background: purple;
}
.account-card{
background:white;
padding:20px;
border-radius:20px;
margin:20px auto;
border:3px solid #d9d3ff;
transition:0.3s;
}

.account-card:hover{
transform:scale(1.03);
border-color:teal;
}
